extends layout

block content
  h1= title
  p Welcome to #{title}.
  | This page is under construction. Meanwhile all the useful code is in ../public/javascripts/
  |
    | Here is a tree learned with PRISM:
    div#prismtree
  | Here are some stats on that algorithm:
    div#prismstats
