extends layout

block content
  h1= title
  p Welcome to #{title}.
  | This is a demo page.
  br
  br
  p Here are some stats on PRISM applied to the mushroom collection:
  div#prismstats
  p Here are some stats on C4.5 on the same collection:
  div#c4_5stats
  p Here is a solution of the queens puzzle on a 20x20 board with Simulated Annealing:
  div#simulatedannealing
  p Here is the tree learned with PRISM:
  pre#prismtree
  script(type='text/javascript', src='/javascripts/demo.js')
