extends layout

block content
  h1= title
  p Welcome to #{title}.
  | This is a demo page.
  br
  br
  p
    strong#status
  p Here are some stats on PRISM applied to the mushroom collection:
  div#prismstats.monospace ...
  p Here are some stats on C4.5 on the same collection:
  div#c4_5stats.monospace ...
  p Here is a solution of the queens puzzle on a 20x20 board with Simulated Annealing:
  pre#simulatedannealing.monospace ...
  //p Here is a solution of the queens puzzle on a 20x20 board with Genetic Algorithm:
  //pre#geneticalgorithm.monospace ...
  p Here is the tree learned by PRISM:
  pre#prismtree.monospace ...
  p Here is the tree learned by C4.5:
  pre#c4_5tree.monospace ...
  script(type='text/javascript', src='/javascripts/demo.js')
