doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/helper.js')
    script(type='text/javascript', src='/javascripts/classification.js')
    script(type='text/javascript', src='/javascripts/clustering.js')
    script(type='text/javascript', src='/javascripts/classify.js')
    script(type='text/javascript', src='/javascripts/validation.js')
    script(type='text/javascript', src='/javascripts/localsearch.js')
  body
    block content
